*{
  
}

body, html{
  height: 100%;
  background-color: transparent;
  font-family: 'Rajdhani', sans-serif;
}
html{
  background-color: black;
}

.logo{
  width: 64px;
  margin-left: 5%;
  height:auto;
  position:absolute;
}

.backImg{
  position: fixed;
  display:block;
  left: 50%;
  width:1920px;
  height:auto;
  margin-left: -960px;
  z-index: -1;
}

.nav{
  height: 50px;
  background-color: #444;
  z-index:10;
}

.wrapper{
  background-color:#eee;
  padding:0;
  padding-top: 20px;
  width: calc(100% - 2px);
  margin:0;
  display: block;
  color: #444;
  border: solid 1px #fff;
  border-bottom: solid 4px #f80; 
  float: left;
}

.main{
  width: 60%;
}

.notAWrapper{
  margin: 0 auto;
  margin-top: 30px;
  max-width:1200px;
  box-shadow: 0 0 30px #000;
  display:block;
  height: 100%;
  z-index:0;
}

.results{
  width: 23.3%;
}

.c2{
  float:left;
  width: calc(50% - 2px);
  padding-bottom: 20px;
  text-align:center;
}

.c4{
  float:left;
  width: calc(100% - 2px);
  padding-bottom: 0;
  text-align:center;
}

.c4 h1{
  display:inline-block;
  margin-top: 0;
}

.c4 img{
  margin-top: -20px;
}


.c3{
  width: calc(60%);
}

.rContainer{
  float: right;
  width: calc(40% - 2px);
}

.mainImg{
  height: 350px;
  background-image: url("http://news.cdn.leagueoflegends.com/public/images/misc/Background.jpg");
  background-size: cover;
  margin-top: 20px;
}

h1{
  border-bottom: solid 1px #444;
  display:inline;
  margin: 20px;
  white-space:nowrap;
}

h3{
  font-weight:100;
  margin:5px 20px;
}

.clear{
  clear:both;
}

.search{
  height: 32px;
  font-size: 32px;
  border: none;
  border-bottom: solid 1px #444;
  color: #444;
  background-color: #ccc;
  margin:20px;
  padding:0;
  width: calc(90% - 103px);
  float:left;
}

.button{
  background-color:#ccc;
  height: 33px;
  margin:0;
  margin-top: 20px;
  border: none;
  border-bottom: solid 1px #444;
  display:block;
  float:left;
}

.nav h1{
  display: inline-block;
  margin: 5px 20px;
  margin-left: calc(5% + 64px);
  color: #fff;
}

@media (max-width: 800px) {
    .wrapper{
      background-color:#eee;
      padding:0;
      padding-top: 20px;
      width: calc(100% - 2px);
      float: left;
    }
    .notAWrapper{
      margin: 0;
      display:block;
      height: 100%;
    }
    .rContainer{
      width: 100%;
    }
    .c2{
      width: calc(50% - 2px);
      padding-bottom: 20px;
    }
}